html, body, .rsl-slide {
  margin: 0;
  padding: 0;

  overflow: hidden;

  letter-spacing: -1px;
}

.rsl-slide {
  line-height: 1.1;

  height: 80vh;
  width: 80vw;
  padding: 10vh 10vw;

  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 4vh;
}

.rsl-slide:nth-child(even) {
  background: #eee;
}

