:root {
  --bg-color: #222;
  --text-color: #ddd;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --text-color: #333;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  user-select: none;
  cursor: default;
}

html, body {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.rsl-slide {
  padding: 40px 80px;

  position: absolute;
  top: 0;
  left: 0;

  line-height: 1;

  visibility: hidden;
}

.rsl-slide.rsl-visible {
  visibility: visible;
}

h1, h2, h3, h4, h5 {
  vertical-align: top;
  top: 0;
  left: 0;
  margin-bottom: 0.1em;
	font-weight: 800;
}

ol, ul {
  list-style-position: inside;
  padding: 0;
  margin-left: 30px;
}

li {
  line-height: 130%;
}

code {
  font-family: Menlo, monospace;
}
