
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;

  background: #272822;
  /*color: #A6E22E;*/
  color: #FDF5A9;

  position: relative;

  user-select: none;

  cursor: default;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.rsl-slide {
  padding: 80px 120px;

  position: absolute;
  top: 0;
  left: 0;

  line-height: 1.1;

  visibility: hidden;
}

.rsl-slide.rsl-visible {
  visibility: visible;

  /*-webkit-animation: slide 0.5s forwards;*/
  /*-webkit-animation-delay: 0s;*/
}

/*@-webkit-keyframes slide {*/
  /*0% {*/
    /*left: -100%;*/
  /*}*/
/*}*/

h1, h2, h3, h4, h5 {
  vertical-align: top;
  top: 0;
  left: 0;
  margin-bottom: 0.5em;
}

ol, ul {
  list-style-position: inside;
  font-weight: normal;
  padding: 0;
  margin-left: 30px;
}

li {
  line-height: 130%;
  padding-bottom: 0.3em;
}
