
body {
  font-family: sans-serif;
	background: #222;
	color: #ddd;
  position: relative;
  user-select: none;
  cursor: default;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.rsl-slide {
  padding: 40px 80px;

  position: absolute;
  top: 0;
  left: 0;

  line-height: 1;

  visibility: hidden;
}

.rsl-slide.rsl-visible {
  visibility: visible;
}

h1, h2, h3, h4, h5 {
  vertical-align: top;
  top: 0;
  left: 0;
  margin-bottom: 0.1em;
	font-weight: 800;
}

ol, ul {
  list-style-position: inside;
  padding: 0;
  margin-left: 30px;
}

li {
  line-height: 130%;
}

code {
  font-family: Menlo, monospace;
}
