:root {
  --bg-color: #222;
  --text-color: #ddd;
  --slide-padding-x: 88px;
  --slide-padding-y: 72px;
  --heading-color-1: #5b955f;
  --heading-color-2: #7c9ced;
  --graphic-color-1: #f17bb1;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #eaeef7;
    --text-color: #333;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  user-select: none;
  cursor: default;  
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.rsl-slide {
  padding: var(--slide-padding-y) var(--slide-padding-x);

  position: absolute;
  top: 0;
  left: 0;

  line-height: 1;

  visibility: hidden;
}

.rsl-slide.rsl-visible {
  visibility: visible;
}

.auto .rsl-slide img {
  float: left;
  margin: 0 80px 0 0;
  width: 25vw;
}

.size-grid-in-slide {
  width: calc(100vw - 2 * var(--slide-padding-x));
  height: calc(100vh - 2 * var(--slide-padding-y));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin: 0;
  margin-bottom: 0.72rem;
}

table {
  border-collapse: collapse;
  font-size: 0.8em;
  margin-block-start: 1em;
}

td,th {
  padding: 0.25em 0.5em;
}

h1, h2 {
  color: var(--heading-color-1);
}

h3, h4 {
  color: var(--heading-color-2);
}

ol, ul {
  padding-inline-start: 1.35em;
}

li {
  line-height: 130%;
  margin-bottom: 0.72rem;
}

code {
  font-family: Menlo, monospace;
}