:root {
  --bg-color: #222;
  --text-color: #ddd;
  --slide-padding: 32px;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --text-color: #333;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  user-select: none;
  cursor: default;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.rsl-slide {
  padding: var(--slide-padding);

  position: absolute;
  top: 0;
  left: 0;

  line-height: 1;

  visibility: hidden;
}

.rsl-slide.rsl-visible {
  visibility: visible;
}

.size-grid-in-slide {
  width: calc(100vw - 2 * var(--slide-padding));
  height: calc(100vh - 2 * var(--slide-padding));
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
  margin: 0;
  margin-bottom: 0.72rem;
}

ol, ul {
  padding-inline-start: 1em;
}

li {
  line-height: 130%;
  margin-bottom: 0.72rem;
}

code {
  font-family: Menlo, monospace;
}